body {
    margin-top: 30%;
    margin-left: 10%;
}
 input {
    padding: 10px;
    width: 80%;
 }

 button {
    align-items: center;
    margin-left: 25%;
    padding: 10px;
    width: 30%;
    margin-top: 25px;
 }